body {
    padding: 0;
    margin: 0;
    background-color: #192026;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* hide scroll bar */
    -ms-overflow-style: none;
    /* Hides scrollbar in IE and Edge */
}

body::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar in Chrome, Safari, and Opera */
}

html {
    box-sizing: border-box!important;
}

*,
*::after,
*::before {
    box-sizing: inherit!important;
}



.navbar-brand  h2{
    color: #db1414;
    text-shadow: 2px 2px 2px #db1414;
    font-weight: 600!important;
}
.nav-link {
    color: #e4e4e4!important;
    opacity: .8;
}
.navbar-toggler {
    color: #e4e4e4;
    border: #e4e4e4 1px solid;
    opacity: .8;
}
.form-control {
    background-color: #374151;
    border-radius: 50px;
    border: none;
    color: #e4e4e4!important;
}
.form-control:focus{
    border: 2px solid #e4e4e4;
    background-color: #374151;
    transition:  .5s;
}  
.form-control::placeholder{
    color: #e4e4e4;
    opacity: .5;
    
}
.form-control:hover {
    border:2px solid #e4e4e4;
    
}
.nav-link {
    text-align: center;
    

}
.nav-item {
    border-radius: 25px;
}
.nav-item:hover {
    background-color: #374151;

    transition:  .5s;

}

.nav-link.active {
    opacity: 1;
    font-weight: 900;
}
 img{
    border-radius: 5px;
 }

 
 .OnePeaceEpisode h2>span{
    color: #db1414;
 }
 .OnePeaceEpisode{
    margin-left: 35px;
    margin-top: 15px;
 }
 p:hover{
    color: #db1414;
    cursor: pointer;
}
